<section class="grid-row footer-row">
  <div class="grid-container grid-width-1040">
    
    <div class="standard-column triple">
      <a href="#" class="footerlogo"></a>
      <p>Ohi helps daters meet and foster meaningful relationships using video profiles, in-app communication tools—and the help of friends.</p>
      <p class="copyright">Built with <span></span> in snowy Silicon Slopes.<br>
&copy; 2017 Ohi Networks, Inc.</p>
    </div>
    
    <div class="standard-column triple hang-right">
      <h4>Contact Us</h4>
      <p class="copyright">We would love to hear from you.<br>
Give us a call or send a quick note.</p>
      <p><a href="#" class="call-us">+1 866 644 2040</a>   <a href="#" class="email-us">hello@ohi.me</a></p>
      <a href="#" class="button turqoise">Get a Pre-Launch Invite</a>
    </div>
    
  </div>
</section>