<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include header.html %}  
    <section class="grid-row hero-row1">
      <div class="grid-container grid-width-1240">
        <h1>Ohi.</h1><br>
        <h1>We totally fixed dating apps.</h1>
        <br>
        <p style="margin-top:48px;">We felt the pain from lacking and missing features on popular apps, and grew tired of bad experiences with online dating in general. So, we built our own from scratch. <br> We call it Ohi — and we think you’re going to love it. It’s nice to meet you.</p>
        <br>
        <a href="#">Learn More</a>
      </div>
    </section>
    <section class="grid-row hero-row2">
      <div class="whiteLogo"></div>
    </section>
    <section class="grid-row download-row">
      <div class="grid-container grid-width-1200">
        <p>Coming Summer 2017 <a href="#" target="_blank" class="download-on-the-app-store-button"></a></p>
      </div>
    </section>
    <section class="grid-row feature-row">
      <div class="grid-container grid-width-1260">
        
        <div class="standard-column quad">
          <div class="iPhone-sample-1"></div>
        </div>
        <div class="standard-column triple">
          <div class="blumbaborph honest"></div>
          <h2>Honest<br>Profiles<span>&trade;</span></h2>
          <p>No more static, never-updated, who knows how old this photo actually is dating profiles. With our Honest Profiles™ you’ll feel like old friends before you match.</p>
        </div>
        <div class="standard-column double">
          <div class="lifestyle-photo-1"></div>
        </div>
        
      </div>
    </section>
    <section class="grid-row feature-row grey-row">
      <div class="grid-container grid-width-1260">
        
        <div class="standard-column penta" style="height:600px;margin-bottom:100px;">
          <div class="lifestyle-photo-2"></div>
        </div>
        <div class="standard-column quad">
          <div class="blumbaborph voice"></div>
          <h2>Voice +<br>Video Chats<span>&trade;</span></h2>
          <p>Tired of wasting burner phones on future stalkers? Ohi gives you text, voice, and video chats — in app. If stuff gets weird, burn the dater… keep your number.</p>
        </div>
        
      </div>
    </section>
    
    <section class="grid-row feature-row white-row friends-row">
      <div class="grid-container grid-width-1260">
        
        <div class="standard-column double">
          &nbsp;
        </div>
        <div class="standard-column pentamax">
          <div class="blumbaborph matched"></div>
          <h2>Matched by <br>Friends<span>&trade;</span></h2>
          <p>You’ll involve your friends and family in your new relationship at some point — why not let them help you find your match to start! They’ll get points for playing the matching game — and you’ll get FREE stuff. And maybe true love. But free stuff.</p>
        </div>
        
      </div>
    </section>
    <section class="grid-row colors-row">
      <img src="/images/colorbars.png" alt="" style="width:100vw; height:40px;">
    </section>
    
  </body>

  {% include footer.html %}
</html>